<launch>
    <node name="isolate" pkg="analyze" type="isolate" output="screen" 
    args="--flagfile=$(find analyze)/config/debug_setting.cfg" />
    
    <arg name="rviz" default="true" />
    <group if="$(arg rviz)">
        <node launch-prefix="nice" pkg="rviz" type="rviz" name="rviz" args="-d $(find analyze)/rviz_cfg/debug.rviz" />
    </group>
</launch>

